<h1>
  <%=@date.strftime("%B %-d, %Y") %>
</h1>


<%= render partial: "summary", collection: @notes %>

<div class="review-summary">
  <span><%= pluralize(@word_count, 'word') %>, <%= pluralize(@char_count, 'char')%>, 
    <%= number_to_human_size(@byte_count) %>
  </span>
</div>
