<h1>
  W<%= @date.cweek %>: 
  <%=@date.beginning_of_week.strftime("%b %-d") %> - 
  <%= @date.end_of_week.strftime("%b %-d")%>
</h1>
<div style="margin-bottom:1em">
  <% @categories.each_with_index do | cat, i | %>
    <%= " ·" unless i == 0 %>
    <%= tag.span class: @category == cat.id ? "" : "mute" do %>
      <%= link_to cat.name, review_week_path(week: @delta, category: cat.id) %>
    <% end %>
  <% end %>
</div>
<div class="mute">
  <%= link_to "<< previous", review_week_path(week: @delta-1, category: @category) %>
  <%= link_to "next >>", review_week_path(week: @delta+1, category: @category), style: "float:right" %> 
</div>

<% @notes.group_by{ |n| n.created_at.to_date.cwday }.each do | cwday, notes | %>
  <h3>
    <%= notes.first.created_at.strftime("%A, %b %-d") %> 
  </h3>

  <%= render partial: "summary", collection: notes %>
<% end %>
