<h1>
  Week <%= @date.cweek %>: 
  <%=@date.beginning_of_week.strftime("%B %-d") %> - 
  <%= @date.end_of_week.strftime("%B %-d")%>
</h1>
<div class="mute">
  <%= link_to "<< previous", review_week_path(week: @delta-1) %>
  <%= link_to "next >>", review_week_path(week: @delta+1), style: "float:right" %> 
</div>

<% @notes.group_by{ |n| n.created_at.to_date.cwday }.each do | cwday, notes | %>
  <h2 style="text-align:right">
    <%= notes.first.created_at.strftime("%A, %B %-d") %> 
  </h2>

  <%= render partial: "note", collection: notes %>
<% end %>
