<h1>
  Edit <%=@note.journal.name %>
</h1>

<%= form_with model: @note, url: note_path(@note) do |form| %>
  <div>
    <%= form.rich_text_area :content, data: { controller: "mentions", target:"mentions.field"} %>

    <%= form.label :created_at %>
    <%= form.datetime_field :created_at, class: "input", placeholder: Date.today.strftime("%F") %>
  </div>

  <div style="text-align:right">
    <%= form.submit "Update", class: "button" %>
    <%= link_to "Delete", note_path(@note),  :method => :delete %>
  </div>
<% end %>
