<h1>Edit <%=@note.journal.name %></h1>


<%= form_with model: @note, url: journal_note_path(@note, journal_id: @note.journal_id) do |form| %>
  <div class="field">
    <%= form.rich_text_area :content %>

    <%= form.label :created_at %>
    <%= form.datetime_field :created_at %>
  </div>
  <div style="text-align:right">
    <%= form.submit "Update", class: "button" %>
    <%= link_to "Delete", journal_note_path(@note, journal_id:@note.journal_id),  :method => :delete %>
  </div>
<% end %>
