<h1>Inbox</h1>
<div style="text-align:right">
  <%= link_to "add", new_inbox_path %>

</div>

<% @items.each do |note| %>


  <div class='note-header note-presen'>

    <strong class="note-title">
      <% if note.created_at > Date.today.end_of_day %>
        in <%= time_ago_in_words(note.created_at) %>
    <% elsif note.created_at.between?(7.days.ago,Date.today.end_of_day) %>
      <%= note.created_at.strftime("%A") %>
    <% else %>
      <%= time_ago_in_words(note.created_at) %> ago
    <% end %>
    </strong>

    <div class='note-actions mute'>
      <%= link_to "delete", inbox_path(id:note.id) ,  :method => :delete %>
    </div>
  </div>

<div class='note-content'>
  <%= note.content %>
</div>


<% end %>

