<h1><%= @title %></h1>




<%= form_for :day, url: day_path(@day.day), method: :patch do |form| %>
 
  <p>
    <%= form.rich_text_area :content %>
  </p>
 
  <p>
  <%= form.submit %>

 <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  </p>
<% end %>

