<h1>
  <%= @journal.name %>
</h1>

<%= @journal.content %>
<div class="journal_menu">

  <% if @future_count > 0 %>
    <%= link_to "#{@future_count} future", future_journal_path(@journal) %> ·
  <% end %>
  <span class="mute">

    <strong><%= link_to "add", new_journal_note_path(journal_id: @journal.id)%></strong> ·
    <%= link_to "shelve", shelve_journal_path(@journal) %> ·
    <%= link_to "edit", edit_journal_path(@journal) %>
  </span>
</div>

<%= render @notes %>
