<h1>
  <%= @journal.name %>
</h1>
<div style="text-align:center">
  <%= link_to "Add Note", new_journal_note_path(journal_id: @journal.id), class: "button" %>
</div>


<% @journal.notes.order(created_at: :desc).each do | note | %>

  <div class='note-header'>
    <h2 class="note-title">
        <%= note.created_at.strftime("%B %-d") %> </h2>
    <div class='note-actions'>
      <%= link_to "Edit", edit_journal_note_path(id:note.id, journal_id:note.journal.id) %>
    </div>
  </div>
  <div class='note-content'>
    <%= note.content %>
  </div>
<% end %>
