<h1>
  <%= @journal.name %>
</h1>
<div style="text-align:center">
  <%= link_to "Add Note", new_journal_note_path(journal_id: @journal.id), class: "button" %>
</div>


<% @journal.notes.order(created_at: :desc).each do | note | %>


  <div class='note-header'>

    <% if note.timeless? %>
      <h2 class="note-title">
        Overview
      </h2>
    <% else %>

      <h2 class="note-title">
        <%= note.created_at.strftime("%A %b %d") %>
        <% if Date.current.year != note.created_at.year %>
          <%= note.created_at.year %>
        <% end %>
      </h2>
    <% end %>

    <div class='note-actions'>
      <%= link_to "Edit", edit_journal_note_path(id:note.id, journal_id:note.journal.id) %>
    </div>
  </div>
  <div class='note-content'>
    <%= note.content %>
  </div>
<% end %>
