<h1><%= @journal.name %></h1>
<p>
<%= link_to "Add", new_journal_note_path(journal_id: @journal.id) %>
<%= link_to "Home", journals_path %>
</p>


<% @journal.notes.reverse.each do | note | %>
    <div class='note-header'>
      <div style='float:right'>

        <%= link_to "Edit", edit_journal_note_path(id:note.id, journal_id:note.journal.id) %> |

        <%= note.created_at.strftime("%b %-d, %Y") %> 

      </div>
    </div>
    <div class='note-content'>
      <%= note.content %>
    </div>
<% end %>
