<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Journal" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div style="max-width: 40em; margin: 0 auto; position: relative;" id="container">
      <nav style="margin:1em;" id="top-menu" class="mute">
        <%= link_to "Home", home_path %> 路
        <%= link_to "Week", review_week_path %> 路
        <%= link_to "Today", review_day_path %> 路
        <%= link_to "Shelf", home_shelf_path %> 路
        <%= link_to "Inbox", journal_path(id:0)%>
      </nav>
      
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "flash #{type}" %>
      <% end %>

      <main style="margin: 0 1em 2em 1em;">


        <%= yield %>
      </main>
    </div> 
  </body>
</html>
